{%- if include.entry.image -%}
{%- assign image_src = include.entry.image -%}
{%- unless image_src contains '://' -%}
{%- assign image_src = image_src | relative_url -%}
{%- endunless -%}
{%- assign image_alt = include.entry.image_alt | default: include.entry.title | escape -%}
{%- if include.linked -%}
{%- assign image_loading = 'lazy' -%}
{%- else -%}
{%- assign image_loading = 'eager' -%}
{%- endif -%}
<figure class="post-featured-image">
  {%- if include.linked -%}
  <a href="{{ include.entry.url | relative_url }}" aria-label="{{ include.entry.title | escape }}">
    {%- endif -%}
    <img src="{{ image_src }}" alt="{{ image_alt }}" loading="{{ image_loading }}" decoding="async">
    {%- if include.linked -%}
  </a>
  {%- endif -%}
</figure>
{%- endif -%}